/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Itim", sans-serif;');
@include mat-core($custom-typography);
html, body { height: 100%; }
* { margin: 0; padding: 0; box-sizing: border-box;}
